.year {
    width: 200px;
    padding: 12px 0 12px 0;
}

.year li {
    /*background-color: pink;*/
    width: 50px !important;
    float: left;
    text-align: center;
    padding: 0 0 9px 0 !important;
}

.month {
    width: 200px;
    padding: 12px 0 12px 0;
}

.month li {
    /*background-color: pink;*/
    width: 34px !important;
    float: left;
    text-align: center;
    padding: 0 0 9px 0 !important;
}

.day {
    width: 200px;
    padding: 12px 0 12px 0;
}

.day li {
    /*background-color: pink;*/
    width: 34px !important;
    float: left;
    text-align: center;
    padding: 0 0 9px 0 !important;
}

.area li {
    text-align: center !important;
}

.sub span {
    /*background-color: pink;*/
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

/*消息盒子宽度*/
.profileBox {
    width: 300px !important;
}

.profileBox .el-icon-warning {
    color: red !important;
}

/*适配移动*/
@media screen and (max-width: 768px) {
    .profile-foot {
        display: none;
    }

    .mobile-profile-foot {
        display: block !important;
    }

    .profile-aside {
        display: none;
    }

    /*profile Add*/
    #profileAdd form {
        width: 100%;
        margin: 0 auto;
        padding: 0 !important;
        background-color: white;
    }

    #profileAdd .el-container {
        background-color: #fff;
    }

    #profileAdd .el-collapse-item__header {
        height: 15px;
    }

    #profileAdd .el-divider__text {
        padding: 0 12px;
    }

    #profileAdd .col4 {
        height: 24px;
    }

    .form-main {
        padding: 9px 0 60px 0 !important;
        background-color: white !important;
    }

    #profileAdd-mobile {
        display: block !important;
        padding: 0 6px;
        max-width: 360px;
        margin: 0 auto;
    }

    #profileAdd .view-mingpan-mobile {
        display: flex !important;
    }

    #profileAdd-show {
        display: none;
    }

    #profileAdd .profile-button {
        margin-top: 30px !important;
    }
}